<%- include ./parts/header.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>Number of categories: <%- categoryCount %></p>
<p>Number of items: <%- itemCount %></p>
<%- include ./parts/footer.ejs %>